Library/
Temp/
Obj/
obj/
Build/
build/
Builds/
builds/
Assets/AssetStoreTools*
Library/**

# Visual Studio cache directory
.vs/
.vscode/

ExportedObj/
.consulo/
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
Customers/Customer.Data/notes
